/* Write your CSS here */
.vaccination-coverage-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #1c1c2b;
}
.vaccination-coverage-heading{
    color: #94a3b8;
    font-family: 'Roboto';
    font-size:24px;
    font-weight: 500;
    line-height: 1.5;
}
