/* Write your CSS here */
.main-container{
    background-color: #161625;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    max-width: 1110px;
}
.header{
    display: flex;
    align-items: center;
    margin-top:20px;
}
.logo{
    height:50px;
    width: 50px;
}
.heading{
    color: #2cc6c6;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 1.5;
    margin-left: 10px;
}
.sub-heading{
    color: #cbd5e1;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
    margin-left: 10px;
}
.failure-view-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.failure-img{
    width:50%;
    margin:15px;
}
.failure-heading{
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
}
